@use '../../styles/variables' as *;

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__load {
    width: 170px;
    height: 48px;
    margin-top: 80px;
    margin-bottom: 180px;
    color: $brown;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 3px 9px 0 #4442;
  }
}

.photos {
  display: grid;
  gap: 30px;

  @for $i from 2 through 4 {
    @media (min-width: (370px * $i + 30px * ($i - 1) + 270px)) {
      grid-template-columns: repeat($i, 370px);
    }
  }

  @media (max-width: 1039px) {
    grid-template-columns: 330px;

    @for $i from 1 through 2 {
      @media (min-width: (330px * $i + 30px * ($i - 1) + 40px)) {
        grid-template-columns: repeat($i, 330px);
      }
    }
  }

}

.photo {
  width: 370px;
  height: 416px;
  position: relative;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: 1039px) {
    width: 330px;
  }

  &__items {
    position: absolute;
    top: 256px;
    left: 48px;
  }

  &__category {
    cursor: pointer;
    height: 38px;
    background-color: #FFFFFF;
    border-radius: 19px;
    color: #391400;
    font-size: 16px;
    width: fit-content;
    display: flex;
    align-items: center;
    padding: 0 16px;
  }

  &__title {
    margin-top: 16px;
    font-size: 40px;
  }

  &[data-selected] {
    outline: 4px solid #4FE24A;

    @media (max-width: 1039px) {
      outline: unset;
    }
  }

}